Package: com.hoangdus.pock
Name: Pock
Version: 1.0.0
Architecture: iphoneos-arm
Description: Infinite Icon In Dock
Maintainer: HoangDus
Author: HoangDus
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader