Package: com.hoangdus.pock
Name: Pock
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: HoangDus
Author: HoangDus
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
