<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>isPockEnabled</string>
			<key>label</key>
			<string>ENABLED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>isPagingEnabled</string>
			<key>label</key>
			<string>DOCK_PAGING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>showIndicator</string>
			<key>label</key>
			<string>SHOW_SCROLLING_INDICATOR</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>scrollBounce</string>
			<key>label</key>
			<string>SCROLL_BOUNCE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>disablePagingWhenEdit</string>
			<key>label</key>
			<string>DISABLE_PAGING_WHEN_EDIT</string>
		</dict>
	</array>
	<key>title</key>
	<string>Pock</string>
</dict>
</plist>
