<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>PockHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Donate if you pirated this 🥰</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>My Twitter (X)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Donate (Buy me a Fanta)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>PockEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Icon per-page</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>IconPerPage</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<real>4</real>
				<real>5</real>
			</array>
			<key>validTitles</key>
			<array>
				<string>4</string>
				<string>5</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Paging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>DockPagingEnabled</string>
			<key>label</key>
			<string>Dock paging</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>DisablePagingWhenEdit</string>
			<key>label</key>
			<string>Disable paging when edit</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extra</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>ScrollBounce</string>
			<key>label</key>
			<string>Scroll bounce</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>ShowIndicator</string>
			<key>label</key>
			<string>Scrolling indicator</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>SnapToIcon</string>
			<key>label</key>
			<string>Icon snapping</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>DisableSnappingWhenEdit</string>
			<key>label</key>
			<string>Disable snapping when edit</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Quality of life</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>ScrollToEndWhenEdit</string>
			<key>label</key>
			<string>Scroll to end when edit</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>ScrollBackAfterEdit</string>
			<key>label</key>
			<string>Scroll back after edit</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.pockpref</string>
			<key>PostNotification</key>
			<string>com.hoangdus.pockpref-updated</string>
			<key>key</key>
			<string>AnimateWhenAutoScroll</string>
			<key>label</key>
			<string>Animate auto scroll</string>
			<key>cellClass</key>
			<string>PockSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring to apply changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring:</string>
		</dict>
	</array>
</dict>
</plist>
